{% extends '../layout.html' %}
{% block title %} Homepage {% endblock %}
{% block content %}
{% load static %}
<section class="" style="min-height: 400px;">
    
    <!-- Search Bar -->
    <form class="form-inline my-2 my-sm-0" id="search-katalog" action="{% url 'katalog' %}" method="get">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Cari.." value="{{ query|default:'' }}" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cari</button>
    </form>

    <!-- Display Card -->
    <div class="container-fluid mb-5">
        <div class="row justify-content-evenly gy-3 gx-1">
            {% for produks in produks %}
            <div class="card col-sm-4 card-display-landing" style="width: 24rem;">
                {% if produks.image %}
                    <img src="{{ produks.image.url }}" class="card-img-top" alt="{{ produks.name }}">
                {% else %}
                    <img src="{{ MEDIA_URL }}util/empty-300x240.jpg" class="card-img-top" alt="{{ produks.name }}">
                {% endif %}
                <div class="card-body">
                    <h6 class="card-title">{{produks.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{produks.kategori}}, Stok : {{produks.stok}}</h6>
                    <p class="card-text">
                        {{produks.description}}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}